.message-box {
    background-color: rgb(224, 224, 224);
    padding: 0;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.message-box > * {
    margin: 10px 5px
}


.message-box > textarea {
    flex: 1 1 auto;
    padding: 10px 10px 0px 20px;
    border-radius: 100px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

.post-btn {
    background-color: rgb(71, 166, 255);
    color: white;
    border-radius: 100px;
    line-height: 1.5;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}